*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.container{
    width: 1170px;
    margin: 0 auto;
}

.box{
    background-color: lightblue;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.box-2{
    background-color: green;
    width: 100%;
    text-align: center;
    padding: 5px;
}